rolluplist/rolluplist.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://github.com/Bosef1/DAVISCO/rolluplist">
  
  <element name="rolluplist"></element>
  <element name="title"></element>
  <element name="itemtypes"></element>
  <element name="typedef"></element>
  
</schema>
